@use "../1-helpers/helpers" as *;

.modal-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #4040404d;
  left: 0;
  z-index: 4;
  display: grid;
  place-items: center;
}
.connect-wallet-modal {
  width: 50vw;
  background-color: #fff;
  padding: 2rem;
  border-radius: 3rem;
}
.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid;
  padding: 1rem;

  margin-bottom: 1rem;
}
.wallet-list p {
  margin-bottom: 1rem;
}
.wallet-option {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 0.1rem solid #cfd8dc;
  border-radius: 1rem;
  &:first-child {
    background-color: #f8f9fa;
  }
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.wallet {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.wallet-icon {
  @include circleConstructor(3rem);
}
@media only screen and (max-width: $tablet) {
  .connect-wallet-modal {
    width: 65vw;
  }
}
@media only screen and (max-width: $mobile) {
  .connect-wallet-modal {
    width: 80vw;
  }
}
