@use "../1-helpers/helpers" as *;

.metanfts {
  background-color: $flirt;
  width: 100vw;
  transform: translateX(-10rem);
  padding: 10rem;
}
.metabnb-nfts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}
.metanft-text {
  button {
    background-color: #fff;
    padding: 1rem 3rem;
    color: $flirt;
  }
}
@media only screen and (max-width: $tablet) {
  .metanfts {
    transform: translateX(-5rem);
    padding: 5rem;
  }
}
@media only screen and (max-width: $mobile) {
  .metanfts {
    transform: translateX(-2rem);
    padding: 5rem 4rem;
  }
  .metabnb-nfts {
    flex-direction: column-reverse;
    gap: 5rem;
  }
}
