@use "../1-helpers/helpers" as *;

.nav {
  height: 5rem;
  width: calc(100% - 20rem);
  position: fixed;
}
.navbar {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.metabnb-logo {
  margin-right: auto;
  height: 4rem;
}
.nav-elements {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.connect-wallet-btn {
  margin-left: auto;
  padding: 1.5rem 2rem;
  color: #fff;
}
//Tablet Styling
@media only screen and (max-width: $tablet) {
  .nav {
    width: calc(100% - 10rem);
  }
  .navbar-menu {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: aquamarine;
  }
  .nav-elements {
    position: static;
    flex-direction: column;
    left: 0;
    top: 0;
    transform: translate(0);
    align-items: flex-start;
    padding-bottom: 1rem;
  }
  .wallet-btn-wrapper {
    padding-top: 1rem;
    border-top: 0.1rem solid #000;
  }
  .connect-wallet-btn {
    padding: 1rem 1.5rem;
  }
}
//Mobile Styling
@media only screen and (max-width: $mobile) {
  .nav {
    width: calc(100% - 4rem);
  }
}
