@use "../1-helpers/helpers" as *;

.nav {
  height: 10rem;
  width: 100vw;
  transform: translateX(-10rem);
  padding: 0 4rem;
  position: fixed;
  background-color: #fff;
  top: 0;
}
.navbar {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.metabnb-logo {
  margin-right: auto;
  height: 4rem;
}
.nav-elements {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.connect-wallet-btn {
  margin-left: auto;
  padding: 1.5rem 2rem;
  color: #fff;
}
//Tablet Styling
@media only screen and (max-width: $tablet) {
  .nav {
    transform: translateX(-5rem);
    padding: 0 3rem;
  }
  .navbar-menu {
    display: flex;
    opacity: 0;
    flex-direction: column;
    padding: 1rem;
    background-color: aquamarine;
    width: 20rem;
    transform: translateY(40px);
  }
  .nav-elements {
    position: static;
    width: auto;
    flex-direction: column;
    left: 0;
    top: 0;
    transform: none;
    align-items: flex-start;
    padding-bottom: 1rem;
  }
  .wallet-btn-wrapper {
    padding-top: 1rem;
    border-top: 0.1rem solid #000;
  }
  .connect-wallet-btn {
    padding: 1rem 1.5rem;
  }
}
//Mobile Styling
@media only screen and (max-width: $mobile) {
  .nav {
    transform: translateX(-2rem);
    height: 6rem;
    padding: 0 1.5rem;
  }
  .metabnb-logo {
    height: 2rem;
  }
}
