.nav {
  display: flex;
  height: 5rem;
  width: calc(100% - 20rem);
  align-items: center;
  position: fixed;
  background-color: aquamarine;
}
.metabnb-logo {
  margin-right: auto;
  height: 4rem;
}
.nav-elements {
  margin: 0 auto;
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}
.connect-wallet-btn {
  margin-left: auto;
  padding: 1.5rem 2rem;
  color: white;
}
